<div class="file-wrapper">

  <div class="header-body-wrapper">
    <div class="body-wrapper">

      <header>
        <h1>Login</h1>
      </header>

      <form class="form-group">
        <input name="userName" class="form-control form-scale" type="text" placeholder="username">
        <input name="password" class="form-control form-scale" type="password" placeholder="password">
      </form>

      <div>
        <a (click)="login(null, null)" class="btn btn-primary btn-scale">Login</a>
      </div>
      <div>
        <a (click)="register()" class="btn btn-secondary btn-scale">Register</a>
      </div>

    </div>
  </div>

</div>