<div class="file-wrapper">

  <!-- Header -->
  <div class="header-body-wrapper">
    <div class="body-wrapper">
      <header>
        <h1>Register</h1>
      </header>

      <form class="form-group">
        <input name="userName" class="form-control form-scale" type="text" placeholder="username">
        <input name="password" class="form-control form-scale" type="password" placeholder="password">
        <input name="email" class="form-control form-scale" type="email" placeholder="email">
      </form>

      <div>
        <a (click)="register(null, null, null)" class="btn btn-primary btn-scale">Register</a>
      </div>
      <div>
        <a (click)="cancel()" class="btn btn-warning btn-scale">Cancel</a>
      </div>
    </div>
  </div>

</div>