node_modules
typings
/app/**/*.js
/app/**/*.map
.vscode/
.DS_Store
/npm-debug.log
NodeVersion.nvmrc
Controllers/UserController.cs
Models/UserModel.cs
assignment/WebApi/bin/
assignment/WebApi/obj/
POC/WebApi/obj/
POC/WebApi/bin
