node_modules
typings
/app/**/*.js
/app/**/*.map
.vscode/
.DS_Store
/npm-debug.log
NodeVersion.nvmrc
Controllers/UserController.cs
Models/UserModel.cs
assignment/WebApi/bin/Debug/
assignment/WebApi/obj/Debug/