<div class="file-wrapper">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../CSS/style.css">
    <meta name="Bootstrap" content="http://getbootstrap.com/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <!-- Header -->
  <div class="header-body-wrapper">
    <nav class="navbar navbar-default header secondary-header">
      <h2>
        <!-- Linked icons and words in the header -->
        <a href="" class="glyph-link"><span class="left-align glyphicon glyphicon-chevron-left"></span></a>Edit Page
        <a href="page-list.html" class="glyph-link"><span class="right-align glyphicon glyphicon-ok"></span></a>
      </h2>
    </nav>

    <div class="body-wrapper">
      <form class="form-group">
        <h3>Name</h3>
        <input class="form-control form-scale" type="text" placeholder="page name">
        <h3>Title</h3>
        <input class="form-control form-scale" type="text" placeholder="page title">
      </form>

      <div>
        <a href="page-list.html" class="btn btn-warning btn-scale">Delete</a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div>
    <nav class="navbar navbar-default footer secondary-footer">
      <!-- Linked icon -->
      <a href="profile.html" class="glyph-link"><span class="right-align glyphicon glyphicon-user"></span></a>
    </nav>
  </div>
</div>
