<div class="file-wrapper">

  <!-- Header -->
  <div class="header-body-wrapper">
    <nav class="navbar navbar-default header primary-header">
      <h2>
        <!-- Linked header icons and words -->
        <span>Profile
          <a (click)="update(user.userName, user.email, user.firstName, user.lastName)" class="glyph-link">
            <span class="right-align glyphicon glyphicon-ok"></span>
          </a>
        </span>
      </h2>
    </nav>

    <div class="body-wrapper">
      <form class="form-group">
        <h3>Username</h3>
        <input name="userName" class="form-control form-scale" type="text" [(ngModel)]="user.userName">
        <h3>Email</h3>
        <input name="email" class="form-control form-scale" [(ngModel)]="user.email">
        <h3>First Name</h3>
        <input name="firstName" class="form-control form-scale" type="text" [(ngModel)]="user.firstName">
        <h3>Last Name</h3>
        <input name="lastName" class="form-control form-scale" type="text" [(ngModel)]="user.lastName">
      </form>

      <div>
        <a (click)="websites()" class="btn btn-primary btn-scale">Websites</a>
      </div>
      <div>
        <a (click)="logout()" class="btn btn-warning btn-scale">Logout</a>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div>
    <nav class="navbar navbar-default footer primary-footer">
      <span class="right-align glyphicon glyphicon-user"></span>
    </nav>
  </div>

</div>