<div class="file-wrapper">

  <!-- Header -->
  <div class="header-body-wrapper">
    <nav class="navbar navbar-default header primary-header">
      <h2>
        <!-- Linked header icons and words -->
        <span>
          <a (click)="home()" class="glyph-link">
            <span class="left-align glyphicon glyphicon-home"></span>
          </a>
          <a (click)="search()" class="glyph-link">
            <span class="right-align glyphicon glyphicon-search"></span>
          </a>
        </span>
      </h2>
    </nav>

    <div class="body-wrapper">
      <form class="form-group">
        <div *ngIf="user.title === undefined">
          <h3>First Name</h3>
          <input name="firstName" class="form-control form-scale" type="text" [(ngModel)]="user.firstName">
        </div>
        <div *ngIf="user.title === undefined">
          <h3>Last Name</h3>
          <input name="lastName" class="form-control form-scale" type="text" [(ngModel)]="user.lastName">
        </div>
        <div *ngIf="user.title !== undefined">
          <h3>Title</h3>
          <input name="title" class="form-control form-scale" type="text" [(ngModel)]="user.title">
        </div>
        <h3>Username</h3>
        <input name="userName" class="form-control form-scale" type="text" [(ngModel)]="user.userName">
        <h3>Password</h3>
        <input name="password" class="form-control form-scale" type="password" [(ngModel)]="user.userName">
        <h3>Email</h3>
        <input name="email" class="form-control form-scale" [(ngModel)]="user.email">
      </form>

      <div class="vertical-padding"></div>

      <table *ngIf="user.departments !== undefined && user.departments.length !== 0" class="basic-table">
        <tbody>
          <tr class="basic-row">
            <th *ngIf="user.title === undefined" class="basic-col">Institution</th>
            <th class="basic-col">Department</th>
          </tr>
          <tr *ngFor="let department of user.departments" class="basic-row">
            <td *ngIf="user.title === undefined" class="basic-col">{{department.institution.title}}</td>
            <td class="basic-col">{{department.title}}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="user.title === undefined">
        <form class="form-group">
          <p>Institution</p>
          <input name="institution" class="form-control form-scale" type="text" [(ngModel)]="institution">
          <p>Title</p>
          <input name="title" class="form-control form-scale" type="text" [(ngModel)]="title">
        </form>

        <div>
          <a (click)="addDepartment(user.id, institution, title)" class="btn btn-primary btn-scale">Add Department</a>
        </div>
      </div>


      <div class="vertical-padding"></div>

      <div>
        <a (click)="updateUser(user)" class="btn btn-secondary btn-scale">Save</a>
      </div>

      <div>
        <a (click)="logout()" class="btn btn-warning btn-scale">Logout</a>
      </div>
    </div>
  </div>

</div>