<div class="file-wrapper">
  <div class="header-body-wrapper">
    <div class="body-wrapper">
      <header>
        <h1>Login</h1>
      </header>

      <form class="form-group">
        <input class="form-control form-scale" type="text" placeholder="username">
        <input class="form-control form-scale" type="password" placeholder="password">
      </form>

      <div>
        <a [routerLink]="['/user', userId]" class="btn btn-primary btn-scale">Login</a>
      </div>
      <div>
        <a href="/user/register" class="btn btn-secondary btn-scale">Register</a>
      </div>
    </div>
  </div>
</div>