<div class="file-wrapper">
  <div class="header-body-wrapper">
    <div class="body-wrapper">
      <header>
        <h1>Login</h1>
      </header>

      <form class="form-group">
        <input (ngModule)="userName" name="userName" class="form-control form-scale" type="text" placeholder="username" [(ngModel)]="user.userName">
        <input (ngModule)="password" name="password" class="form-control form-scale" type="password" placeholder="password" [(ngModel)]="user.password">
      </form>

      <div>
        <a [routerLink]="['/user', user.id]" (click)="login(user.userName, user.password)" class="btn btn-primary btn-scale">Login</a>
      </div>
      <div>
        <a [routerLink]="['/user/register']" (click)="register()" class="btn btn-secondary btn-scale">Register</a>
      </div>
    </div>
  </div>
</div>