<div class="file-wrapper">
  <!-- Header -->
  <div class="header-body-wrapper">
    <div class="body-wrapper">
      <form class="form-group">
        <h3>Username</h3>
        <input class="form-control form-scale" type="text" placeholder="username">
        <h3>Email</h3>
        <input class="form-control form-scale" type="text" placeholder="email">
        <h3>First Name</h3>
        <input class="form-control form-scale" type="text" placeholder="first name">
        <h3>Last Name</h3>
        <input class="form-control form-scale" type="text" placeholder="last name">
      </form>

      <div>
        <a href="website-list.html" class="btn btn-primary btn-scale">Websites</a>
      </div>
      <div>
        <a href="login.html" class="btn btn-warning btn-scale">Logout</a>
      </div>
    </div>
  </div>
</div>
