<div class="file-wrapper">
  <!-- Header -->
  <div class="header-body-wrapper">
    <div class="body-wrapper">
      <header>
        <h1>Register</h1>
      </header>

      <form class="form-group">
        <input (ngModule)="userName" name="userName" class="form-control form-scale" type="text" placeholder="username" [(ngModel)]="user.userName">
        <input (ngModule)="password" name="password" class="form-control form-scale" type="password" placeholder="password" [(ngModel)]="user.password">
        <input (ngModule)="email" name="email" class="form-control form-scale" type="email" placeholder="email" [(ngModel)]="user.email">
      </form>

      <div>
        <a [routerLink]="['/user', user.id]" (click)="register(user.userName, user.password)" class="btn btn-primary btn-scale">Register</a>
      </div>
      <div>
        <a [routerLink]="['/user/login']" (click)="cancel()" class="btn btn-warning btn-scale">Cancel</a>
      </div>
    </div>
  </div>
</div>