<div class="file-wrapper">
  <!-- Header -->
  <div class="header-body-wrapper">
    <div class="body-wrapper">
      <header>
        <h1>Register</h1>
      </header>

      <form class="form-group">
        <input class="form-control form-scale" type="text" placeholder="username">
        <input class="form-control form-scale" type="password" placeholder="password">
        <input class="form-control form-scale" type="email" placeholder="email">
      </form>

      <div>
        <a href="profile.html" class="btn btn-primary btn-scale">Register</a>
      </div>
      <div>
        <a href="/user/login" class="btn btn-warning btn-scale">Cancel</a>
      </div>
    </div>
  </div>
</div>