<div class="file-wrapper">

  <div class="header-body-wrapper">
    <nav class="navbar navbar-default header primary-header">
      <h2>
        <!-- Linked header icons and words -->
        <span>
          <a (click)="search()" class="glyph-link">
            <span class="left-align glyphicon glyphicon-chevron-left"></span>
          </a>
        </span>
      </h2>
    </nav>
    <div class="body-wrapper">

      <header>
        <h1>Details</h1>
      </header>

      <table *ngIf="work !== null" class="basic-table">
        <tbody>
          <tr class="basic-row">
            <th class="basic-col">Title</th>
            <th class="basic-col">Year</th>
            <th class="basic-col">Author</th>
            <th class="basic-col">Author ID</th>
          </tr>
          <tr class="basic-row">
            <td class="basic-col">"{{work.title}}"</td>
            <td class="basic-col">{{work.year}}</td>
            <td class="basic-col">{{work.author}}</td>
            <td class="basic-col">{{work.authorId}}</td>
          </tr>
        </tbody>
      </table>

      <table *ngIf="topic !== null" class="basic-table">
        <tbody>
          <tr class="basic-row">
            <th class="basic-col">Title</th>
            <th class="basic-col">Body</th>
            <th *ngIf="topic.subtopics !== undefined" class="basic-col">Subtopics</th>
            <th class="basic-col">Department</th>
          </tr>
          <tr class="basic-row">
            <td class="basic-col">{{topic.title}}</td>
            <td class="basic-col">{{topic.body}}</td>
            <td *ngIf="topic.subtopics !== undefined" class="basic-col">{{subTopics}}</td>
            <td class="basic-col">{{topic.department.title}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>