<div class="file-wrapper">

  <div class="header-body-wrapper">
    <nav class="navbar navbar-default header primary-header">
      <h2>
        <!-- Linked header icons and words -->
        <span>
          <a (click)="home()" class="glyph-link">
            <span class="left-align glyphicon glyphicon-home"></span>
          </a>
          <a (click)="search()" class="glyph-link">
            <span class="right-align glyphicon glyphicon-search"></span>
          </a>
        </span>
      </h2>
    </nav>

    <div class="body-wrapper">

      <header class="center-text">
        <h1>Welcome To Gray Industries Academic Search!</h1>
      </header>

      <div class="vertical-padding"></div>

      <p>Create a profile, follow institutions and other academics, read up on classic topics or gain access to the latest articles.</p>

      <div>
        <a (click)="login(userName, password)" class="btn btn-primary btn-scale">Login</a>
      </div>

      <div class="vertical-padding"></div>

      <img class="img-responsive" src="./app/resources/salisbury.jpg">

    </div>
  </div>

</div>