<div class="file-wrapper">

  <div class="header-body-wrapper">
    <nav class="navbar navbar-default header primary-header">
      <h2>
        <!-- Linked header icons and words -->
        <span>Search
          <a (click)="profile()" class="glyph-link">
            <span class="right-align glyphicon glyphicon-user"></span>
          </a>
        </span>
      </h2>
    </nav>

    <div class="body-wrapper">

      <header>
        <h1>Academic Works</h1>
      </header>

      <form class="form-group">
        <input name="search" class="form-control form-scale" type="text" placeholder="search" [(ngModel)]="academicQuery" />
      </form>

      <div>
        <a class="btn btn-primary btn-scale" (click)="academicSearch(academicQuery)">Search</a>
      </div>

      <table *ngIf="getAcademicSearchResults() !== null" class="basic-table">
        <tbody>
          <tr class="basic-row">
            <th class="basic-col">Title</th>
          </tr>
          <tr *ngFor="let work of getAcademicSearchResults()" class="basic-row">
            <td class="basic-col link-text" (click)="getAcademicDetails(work)">"{{work.title}}"</td>
          </tr>
        </tbody>
      </table>

      <header>
        <h1>Wikis</h1>
      </header>

      <form class="form-group">
        <input name="search" class="form-control form-scale" type="text" placeholder="search" [(ngModel)]="wikiQuery" />
      </form>

      <div>
        <a class="btn btn-primary btn-scale" (click)="wikiSearch(wikiQuery)">Search</a>
      </div>

      <table *ngIf="(getWikiSearchResults() !== null) && (getWikiSearchResults().length !== 0)" class="basic-table">
        <tbody>
          <tr class="basic-row">
            <th class="basic-col">Title</th>
            <th class="basic-col">Institution</th>
          </tr>
          <tr *ngFor="let topic of getWikiSearchResults()" class="basic-row">
            <td *ngIf="(topic.title !== undefined)" class="basic-col link-text" (click)="getWikiDetails(topic)">{{topic.title}}</td>
            <td *ngIf="(topic.department !== undefined)" class="basic-col">{{topic.department.institution.title}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>