<div class="file-wrapper">

  <div class="header-body-wrapper">
    <div class="body-wrapper">

      <header>
        <h1>Search</h1>
      </header>

      <form class="form-group">
        <input name="search" class="form-control form-scale" type="text" placeholder="search" [(ngModel)]="query" />
      </form>

      <div>
        <a class="btn btn-primary btn-scale" (click)="search(query)">Search</a>
      </div>

      <table *ngIf="getSearchResults() !== null" class="basic-table">
        <tbody>
          <tr class="basic-row">
            <th class="basic-col">Title</th>
          </tr>
          <tr *ngFor="let work of getSearchResults()" class="basic-row">
            <td class="basic-col link-text" (click)="getDetails(work)">"{{work.title}}"</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

</div>